.box1{
    width: auto;
    height: 200px;
    border: 2px solid blue;
    /* padding: 10px; */
}

.name{
    padding-left: 500px;
    padding-top: 10px;
    font-size: 10px;
}
.Price{
    padding-left: 1000px;
    padding-top: -10px;
}